<div id="galleryContainer">
  {{!-- {{#attributes}} --}}
  <div id="mainGalleryPhoto">
    <span id="mainAuthor">{{author}} - </span>
    <span id="mainTitle">{{title}}</span>
    <img id="mainPhoto" src="{{link}}" alt="gallery photo" srcset="">
    <div id="bodyContainer">
      <p id="mainDescription"> {{description}}</p>
      <div id="buttons">
        <form action="/gallery/{{id}}?_method=DELETE" method="POST" enctype="application/x-www-form-urlencoded">
          <button id="deleteButton" type="submit" value="Delete">Delete</button>
        </form>
        <form action="/gallery/{{id}}/edit?_method=GET" method="POST" enctype="application/x-www-form-urlencoded">
          <button id="editButton" type="submit" value="Edit">Edit</button>
        </form>
      </div>
    </div>
  </div>

  {{!-- {{/attributes}} --}}

  <div id="secondaryGalleryPhotos">
    {{#each attributesB}}
    <a href="/gallery/{{id}}">
      <img src="{{link}}" alt="gallery photo" srcset="" id="photo">
    </a>
    <span id="author">{{author}} - </span>
    <span id="title">{{title}}</span>
    {{/each}}
  </div>
</div>