<div id="container">
  {{#each attribute}}
  <div id="mainContainer">
    <span id="mainAuthor" class="mainAuthor">{{author}} - </span>
    <span id="mainTitle" class="mainTitle">{{title}}</span>
    <a href="/gallery/{{id}}">
      <img id="mainPhoto" class="mainPhoto" src="{{link}}" alt="gallery photo" srcset="" id="secondPhoto">
    </a>
    <div id="mainDescription" class="mainDescription">{{description}}</div>
  </div>
  {{/each}}


  {{#each attributes}}
  <div id="secondContainer">
    <a href="/gallery/{{id}}">
      <img id="photo" class="photo" src="{{link}}" alt="gallery photo" srcset="" id="secondPhoto">
    </a>
    <span id="author" class="author">{{author}} - </span>
    <span id="title" class="title">{{title}}</span>
  </div>
  {{/each}}
</div>